:root{

    --nunito-font: 'Nunito', sans-serif;

    --background--linea: linear-gradient(#1d2d44,#4a4e69);

    --color-letras: white;

    --color-letras--inicio:#6f6f6f;

    --color-letras--habilidades: black; 
}

html{
    scroll-behavior: smooth;
}

/*
DEJA UN MARGIN TOP CUANDO HAGO SCROLL HACIA ABAJO
div[id]{
    scroll-margin-top: 50px;
}*/

body{
    font-family: var(--nunito-font);
}
