:root{

    --nunito-font: 'Nunito', sans-serif;

    --background--linea: linear-gradient(#1d2d44,#4a4e69);

    --color-letras: #fdfdfd;

    --color-letras--inicio:#6f6f6f;

    --color-letras--habilidades: black; 
}

html{
    scroll-behavior: smooth;
}


section[id]{
    scroll-margin-top: 75px;
}

body{
    font-family: var(--nunito-font);
}
