:root{
    --background-page: #ffffff;

    --background-section: #6E07F3;

    --font-prompt: 'Prompt', sans-serif;

    --color-white: #ffffff;

    --color-footer_link: #6E07F3;
}

html{
    scroll-behavior: smooth;
}


section[id]{
    scroll-margin-top: 75px;
}

body{
    font-family: var(--font-prompt);
    background: var(--background--page);
}
