.cabecera__link{
    
    background-color: rgba(0,0,0,0.70);
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: 100%;
    z-index: 999;

}

.cabecera__link__li{
    margin: 1.6% 3%;
}

.cabecera__link__item{

    text-decoration: none;
    color: var(--color-letras);
    font-size: 20px;

}

.cabecera__link__item:hover{
    
    color: black;
    padding: 5px 15px;
    background-color: var(--color-letras);
    border-radius: 15px;
    transition: all 0.3s ease;
}
