/*INICIO*/

.inicio__container{
    display: flex;
}

.inicio__presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.inicio__presentacion_titulo{
    
    font-size: 30px;
    color: var(--color-letras);
    background: var(--background--linea);
    padding: 8px;
    border-radius: 10px;
    width: max-content;
}

.inicio__presentacion_nombre{
    margin: 5% 2%;
    text-align: center;
    color: transparent;
    font-size: 120px;
    font-weight: 300;
    background: var(--background--linea);
    background-clip: text;
    -webkit-background-clip: text;
}

.inicio__presentacion_descripcion{
    font-style: italic;
    color: var(--color-letras--inicio);
    font-size: 40px;
}

.inicio__imagenPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenPerfil{
    border-radius: 50px;
    height: 80%;
}

/*SOBRE MI*/

.about__container{
    display: flex;
    flex-direction: column;
}

.about__container__texto{
    display: flex;
    width: 100%;
}

.about__texto__titulo{
    width: 50%;
    text-align: center;
    font-size: 120px;
    background: var(--background--linea);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 5%;
}

.about__texto__mensaje{
    text-align: justify;
    width: 50%;
    margin-top: 5%;
    margin-right: 5%;
    color: var(--color-letras--habilidades);
}

/*HABILIDADES*/

.habilidades__container{
    background: var(--background--linea);
    margin: 5%;
    border-radius: 10px;
}

.habilidades__titulo__habilidades{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: var(--color-letras);
}

.habilidades__titulo{
    width: 50%;
    text-align: center;
}

.habilidades__container_item{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.habilidades_item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: var(--color-letras);
    border-radius: 15px;
    max-width: 20%;
    font-size: 30px;
    margin: 5% 1%;
}

.habilidades_item_imagen{
    width: 50%;
    padding: 8px;
}

.habilidades_item_titulo{
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 8px;
    color: var(--color-letras--habilidades);

}


/*PROYECTOS*/