/*INICIO*/

.inicio__container{
    display: flex;
}

.inicio__presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.inicio__presentacion_titulo{
    
    font-size: 30px;
    color: var(--color-letras);
    background: var(--background--linea);
    padding: 8px;
    border-radius: 10px;
    width: max-content;
}

.inicio__presentacion_nombre{
    margin: 5% 2%;
    text-align: center;
    color: transparent;
    font-size: 120px;
    font-weight: 300;
    background: var(--background--linea);
    background-clip: text;
    -webkit-background-clip: text;
}

.inicio__presentacion_descripcion{
    font-style: italic;
    color: var(--color-letras--inicio);
    font-size: 40px;
}

.inicio__imagenPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenPerfil{
    border-radius: 50px;
    height: 80%;
}

/*SOBRE MI*/

.about__container{
    display: flex;
    flex-direction: column;
}

.about__container__texto{
    display: flex;
    width: 100%;
}

.about__texto__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
    font-size: 120px;
    background: var(--background--linea);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 5%;
}

.boton__descarga_cv{
    cursor: pointer;
    margin-top: 8%;
    background: var(--background--linea);
    border-radius: 12px;
}

.about__texto__botonCV{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-letras);
    font-family: var(--nunito-font); 
    padding: 3%;
}


.about__texto__mensaje{
    text-align: justify;
    width: 50%;
    margin-top: 5%;
    margin-right: 5%;
    color: var(--color-letras--habilidades);
}

/*HABILIDADES*/

.habilidades__container{
    background: var(--background--linea);
    margin: 2%;
    border-radius: 10px;
}

.habilidades__titulo__habilidades{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: var(--color-letras);
}

.habilidades__titulo{
    width: 50%;
    text-align: center;
}

.habilidades__container_item{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.habilidades_item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: var(--color-letras);
    border-radius: 15px;
    max-width: 20%;
    margin: 2% 1%;

}

.habilidades_item_imagen{
    width: 50%;
    padding: 8px;
}

.habilidades_item_titulo{
    text-decoration: none;
    font-size: 1rem;
    padding-bottom: 8px;
    color: var(--color-letras--habilidades);
}


/*PROYECTOS*/

.proyectos__container{
    display: flex;
    flex-direction: column;
}

.proyectos__container__titulo{
    margin-top: 3%;
    text-align: center;
    width: 100%;
    font-size: 5rem;
}

.proyecto__titulo{
    width: 100%;
    text-align: center;
    font-size: 5rem;
    background: var(--background--linea);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.proyectos__container__main{
    display: flex;
    flex-wrap: wrap;
}

.contenedorProyecto{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.contenedorProyecto figure{
    position: relative;
    height: 250px;
    width: 400px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.50);
    cursor: pointer;
}

.contenedorProyecto figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedorProyecto figure .capaProyecto{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedorProyecto figure:hover > .capaProyecto{
    opacity: 1;
    visibility: visible;
}

.contenedorProyecto figure:hover > .capaProyecto h3{
    margin-top:70px;
    margin-bottom: 15px;
}

.contenedorProyecto figure:hover > img{
    transform: scale(1.1);
}

.contenedorProyecto figure .capaProyecto h3{
    color: white;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.contenedorProyecto figure .capaProyecto p{
    color: white;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}