/*INICIO*/

.inicio__container{
    display: flex;
}

.inicio__presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

.inicio__presentacion_titulo{
    
    font-size: 30px;
    color: var(--color-letras);
    background: var(--background--linea);
    padding: 8px;
    border-radius: 10px;
    width: max-content;
}

.inicio__presentacion_nombre{
    margin: 5% 2%;
    text-align: center;
    color: transparent;
    font-size: 120px;
    font-weight: 300;
    background: var(--background--linea);
    background-clip: text;
    -webkit-background-clip: text;
}

.inicio__presentacion_descripcion{
    font-style: italic;
    color: var(--color-letras--inicio);
    font-size: 40px;
}

.inicio__imagenPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.imagenPerfil{
    border-radius: 50px;
}

/*SOBRE MI*/

.about__container{
    display: flex;
    flex-direction: column;

}

.about__container__texto{
    display: flex;
    width: 100vw;
}

.about__texto__titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    text-align: center;
    background: var(--background--linea);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 5%;
}

.about__texto__titulo--texto{
    font-size: 120px;
}

.boton__descarga{
    text-decoration: none;
    margin-top: 5%;
}

.boton__descarga_cv{
    display: flex;
    cursor: pointer;
    background: var(--background--linea);
    border-radius: 12px;
    padding: 12%;
}

.about__texto__botonCV{
    text-decoration: none;
    color: var(--color-letras);
    font-family: var(--nunito-font); 
}

.about__texto__mensaje{
    width: 50vw;
    margin-top: 5%;
    margin-right: 5%;
}

.about__texto__mensaje--mensaje{
    color: var(--color-letras--habilidades);
    text-align: justify;
}

/*HABILIDADES*/

.habilidades__container{
    background: var(--background--linea);
    margin: 2%;
    border-radius: 10px;
}

.habilidades__titulo__habilidades{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: var(--color-letras);
}

.habilidades__titulo{
    width: 50vw;
    text-align: center;
}

.habilidades__container_item{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    width: 50vw;
    
}

.habilidades_item--html{
    grid-column: 1/2;
    grid-row: 1/2;
}

.habilidades_item--css{
    grid-column: 2/3;
    grid-row: 1/2;
}

.habilidades_item--javaScript{
    grid-column: 3/4;
    grid-row: 1/2;
}

.habilidades_item--python{
    grid-column: 4/5;
    grid-row: 1/2;
}

.habilidades_item--cSharp{
    grid-column: 1/2;
    grid-row: 2/3;
}

.habilidades_item--git{
    grid-column: 2/3;
    grid-row: 2/3;
}

.habilidades_item--django{
    grid-column: 3/4;
    grid-row: 2/3;
}

.habilidades_item--net{
    grid-column: 4/5;
    grid-row: 2/3;
}

.habilidades_item--sqlServer{
    grid-column: 1/2;
    grid-row: 3/4;
}

.habilidades_item--postman{
    grid-column: 2/3;
    grid-row: 3/4;
}

.habilidades_item--figma{
    grid-column: 3/4;
    grid-row: 3/4;
}



.habilidades_item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--color-letras);
    border-radius: 15px;
    margin: 10% 5%;
    transition: all 500ms ease;
}

.habilidades_item:hover{
    transform: scale(1.1);
    
}

.habilidades_item_imagen{
    width: 50%;
    height: 70%;
    padding: 8px;
}

.habilidades_item_titulo{
    text-decoration: none;
    font-size: 1rem;
    padding-bottom: 8px;
    color: var(--color-letras--habilidades);
}


/*PROYECTOS*/

.proyectos__container{
    display: flex;
    flex-direction: column;
}

.proyectos__container__titulo{
    margin-top: 3%;
    text-align: center;
    width: 100%;
    font-size: 5rem;
}

.proyecto__titulo{
    width: 100%;
    text-align: center;
    font-size: 5rem;
    background: var(--background--linea);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.proyectos__container__main{
    display: flex;
    flex-wrap: wrap;
}

.contenedorProyecto{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.contenedorProyecto figure{
    position: relative;
    height: 250px;
    width: 400px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.50);
}

.contenedorProyecto figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.contenedorProyecto figure .capaProyecto{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.8);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedorProyecto figure:hover > .capaProyecto{
    opacity: 1;
    visibility: visible;
}

.contenedorProyecto figure:hover > .capaProyecto h3{
    margin-top:70px;
    margin-bottom: 15px;
}

.contenedorProyecto figure:hover > img{
    transform: scale(1.1);
}

.contenedorProyecto figure .capaProyecto h3{
    font-size: 20px;
    color: var(--color-letras);
    font-weight: 400;
    transition: all 500ms ease-out;
    margin-top: 30px;
    margin-bottom: 160px;
}

.contenedorProyecto figure .capaProyecto p{
    color: var(--color-letras);
    font-size: 17px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.proyectos__boton{
    background: var(--background--linea);
    margin-top: 6%;
    border: solid 3px;
}

.proyectos__boton--texto{
    color: var(--color-letras);
    font-family: var(--nunito-font);
    font-size: 15px;
    text-decoration: none;
}


/*CONTACTO*/

.contacto__container--principal{
    background: var(--background--linea);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 2%;
    color: var(--color-letras);

}

.contacto__container--titulo{
    width: 50%;
    font-family: var(--nunito-font);
    font-size: 60px;
    text-align: center;
}

.contacto__container__contactos{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contacto__container--gmail,
.contacto__container--github,
.contacto__container--linkedin{

    background: #fdfdfd;
    border-radius: 10px;
    margin: 5%;
    transition: all 0.6s ease;
    
}

.contacto__container--gmail:hover,
.contacto__container--github:hover,
.contacto__container--linkedin:hover{
    
    transform: scale(1.2);
}

.contacto__container--link{
    text-align: center;
    text-decoration: none;
}

.contacto__container--img{
    width: 100%;
    height: 80%;
}

.contacto__container__titulo{
    font-family: var(--nunito-font);
    font-size: 18px;
    color: black;
}

/*Footer*/

