.container-inicio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 70vh;
}

.container-inicio__presentacion,
.container-tecnologias__titulo,
.container-proyectos__titulo {
  font-size: 50px;
  font-weight: bold;
}

.nombre {
  color: #5271ff;
}

.image-perfil {
  border: 15px solid #5271ff;
  border-radius: 100%;
}

.container-tecnologias__titulo,
.container-proyectos__titulo {
  text-align: center;
}

.container-proyectos__titulo {
  margin-top: 10%;
}

.container-tecnologias__items,
.container-proyectos__items {
  margin-top: 10%;
}

.list-tecnologias {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container__projects {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.container__project {
  background-color: #363636;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5%;
}

.title-project {
  color: #cccccc;
  font-family: var(--font-poppins);
  font-weight: bold;
}

.descripcion-project {
  color: #cccccc;
  font-family: var(--font-poppins);
}

.tecnologias-project {
  color: #cccccc;
  font-family: var(--font-poppins);
  padding-top: 20px;
}

.enlaces-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding-top: 20px;
}

.proyectos__boton--texto {
  color: #cccccc;
  font-family: var(--font-poppins);
  text-decoration: underline;
}

article {
  border-radius: 16px;
  box-shadow: none;
  background: #363636;
  overflow: hidden;
  color: #cccccc;
}

article h2 {
  margin: 0 0 18px 0;
  font-family: var(--font-poppins);
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: #cccccc;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
}

.article-body {
  padding: 10px 24px 24px 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}
