@media screen and (max-width: 768px) {

    .container__inicio{
        flex-direction: column;
    }

    .container__inicio-text{
        text-align: center;
    }

    .open-menu,
    .close-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .close-menu {
        align-self: flex-end;
        padding: 0 0;
        margin: 5% 2%;
    }

    .open-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .menu_opened {
        opacity: 1;
        pointer-events: all;
    }

    .open-menu:focus:not(:focus-visible),
    .close-menu:focus:not(:focus-visible) {
        outline: none;
    }

    .container__about_me{
        width: 100%;
        text-align: center;
    }

    .habilidades__container_item{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 425px){
    .habilidades__container_item{
        grid-template-rows: repeat(auto, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}