@media screen and (max-width: 768px) {

    .open-menu,
    .close-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .close-menu {
        align-self: flex-end;
        padding: 0 0;
        margin: 5% 2%;
    }

    .open-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .menu_opened {
        opacity: 1;
        pointer-events: all;
    }

    .open-menu:focus:not(:focus-visible),
    .close-menu:focus:not(:focus-visible) {
        outline: none;
    }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}