:root {
    color-scheme: light dark;
}

html {
    scroll-behavior: smooth;
    font-family: system-ui, sans-serif;
}

/* section[id] {
    
} */

body {
    background: #050505;
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}