@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Hanken+Grotesk:wght@100&family=Prompt:ital,wght@0,100;1,300&display=swap');

/* font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

:root {
    --color-letra-nav: #A7A7A7;
    --font-dm-sans: 'DM Sans', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --color-letra-ini: #D9D9D9;
}

html {
    scroll-behavior: smooth;
}

section[id] {
    scroll-margin-top: 70px;
}

body {
    background-color: #191919;
    max-width: 1050px;
    min-height: 100vh;
    margin: 0 auto;
}